body {
    color: rgb(179, 131, 131);
}

.contaner {
    box-sizing: border-box;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    /* cursor: url(../img/kharli_kvinn_cursor.png); */
    cursor: crosshair;
}

.contaner_sell {
    box-sizing: border-box;
    padding: 10px;
    border: solid black;
}

.goblin__non {
    visibility: hidden;
}

.info {
    margin-bottom: 20px;
}

.info__game-score {
    color: green;
    display: flex;
    margin-bottom: 10px;
}

.info__game-missed {
    color: red;
    display: flex;
}

.info__field-name {
    margin-right: 5px;
}